.mainbox {
    width:1300px;
    height:900px;
    border:solid;
    border-width: 1px;
    font-family: tahoma;
    border-color:white;
    margin:0 auto;
    background-color:white;
}
.hienThi {
    width:1290;
    height:200px;
    border:none;
    border-width: 1px;
    margin: 0 auto;
    text-align: right;
    padding-top: 2px;
    font-size: 20pt;
    padding-right: 2px;
    background-color: white;
    margin-top:5px;
    margin-bottom:5px;
}